######################
# PyCharm
######################
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig
classes/
out/

######################
# Visual Studio Code
######################
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace


__pycache__/


/OldTrainLogs/training_csv.log
/input/**
/logs/**
model.json
/input_batches/
/model_results/best_model_cnn.hdf5
/model_results/best_model_resnet.hdf5
/model_results/best_model_vgg.hdf5
/model_results/best_model_vgg_brightness.hdf5
/model_results/model-saved.hdf5
